
    <footer style="margin-top: 20px">
        <div class="redes-conteiner" >
            <ul>
                <li class="wow animate__animated animate__backInUp"><a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="wow animate__animated animate__backInUp"><a href=""><i
                            class="fab fa-twitter"></i></a></li>
                <li class="wow animate__animated animate__backInUp"><a href=""><i
                            class="fab fa-instagram"></i></a></li>
                <li class="wow animate__animated animate__backInUp"><a href=""><i
                            class="fab fa-github"></i></a></li>
            </ul>
        </div>


        <div class="redes-txt">
            <p>Sitio Hecho y Desarrollado por Grupo WEB 2</p>
        </div>
    </footer>


        <script src="https://dl.dropbox.com/s/p0mmzchxa1349dl/scripts-efectos.js?dl=0" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.2/web-animations.min.js"></script>
    <script src="https://dl.dropbox.com/s/x0ue2vwj8cu98eb/wow.min.js?dl=0" type="text/javascript"></script>
    <script>
        new WOW().init();
    </script>


</body>

</html>