*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: #000;
	color: #fff;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%236f6f6f' fill-opacity='0.17' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	font-family: 'Roboto', sans-serif;
}

a{
	color: #fff;
	text-decoration: none;
}

ul{
	list-style: none;
}

.container{
	width: 90%;
	margin: auto;
}

/* Navegacion */
.nav-main{
	margin-top: 5px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 20px 0;
}

.nav-img{
	/*width: 330px;*/
	width: 25%;
	margin-bottom: 8px;
}

/* nav left */
.nav-main ul{
	display: flex;
}
.nav-main ul li{
	padding: 10px;
	margin: 10px;
}

.nav-main ul li a:hover{
	border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
	flex: 1;
	margin-left: 20px;
}


/* SHOWCASE */

hr{
	margin-bottom: 15px;
}

.showcase{
	width: 100%;
	height: 550px;
	background: url("../img/viaje.jpg") no-repeat center/cover;
	padding: 50px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.btn{
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding: 10px 20px;
	background: #505;
	font-size: 15px;
	border: 1px solid #fff;
	margin: 10px 0;
}
.btn:hover{
	opacity: .7;
}

.showcase h2,
.showcase p{
	margin-bottom: 10px;
}


/* NEWS CARDS */
.news-cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
	margin: 10px 0;
}

.news-cards img{
	width: 100%;
	height: 300px;
}

.news-cards h3{
	font-size: 20px;
	margin: 10px 0;
}

.news-cards a{
	padding: 10px 0;
	color: #f2f2f2;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}
.news-cards a:hover{
	text-decoration: underline;
}


/* CARDS BANNER ONE */
.cards-banner-one{
	width: 100%;
	height: 350px;
	background: url("../img/banner.jpg");
	margin-bottom: 40px;
}

.cards-banner-one .content{
	width: 40%;
	padding: 90px 0 0 30px;
	color: #fff;
}

.cards-banner-one p,
.cards-banner-one h2{
	margin: 10px 0 20px 0;
}


/* SOCIAL */
.social{
	margin: 50px;
}

.social p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.links{
	display: flex;
	align-items: center;
	justify-content: center;
}

.links a{
	margin: 0 30px;
}

.links a i{
	font-size: 3rem;
}


/* FOOTER */
.footer{
	background: #2f3640;
	color: #616161;
	font-size: 12px;
	padding: 35px 0;
}

.footer-cont{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	align-items: flex-start;
	justify-content: center;
}

.footer-cont ul{
	margin: 0 auto;
}
.footer-cont ul li{
	line-height: 2.8;
}

footer{
	background: #2f3640;
	color: #616161;
	font-size: 12px;
	padding: 20px 0;
	text-align: center;
	padding-bottom: 20px;
}


@media (max-width: 1000px){
	.nav-main ul.nav-menu{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #2f3640;
		height: 100%;
		padding: 30px;
		opacity: .9;
		transform: translateX(-20px);
	}
	.nav-main ul.nav-menu li{
		padding: 20px;
		font-size: 14px;
	}

	.news-cards{
		grid-template-columns: repeat(2, 1fr);
	}

	.footer .footer-cont{
		grid-template-columns: repeat(2, 1fr);
	}
}