

a{
    color: rgb(233, 221, 221);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: inherit;
}
a:hover{
    color: #fff;
  }

/* Estilo Barra de navegacion*/
::placeholder { color: rgb(195, 194, 197); }

.BarraNav{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgb(88, 52, 99);
    justify-content: space-between;
    padding-left: 5px;
}

.Buscador{
    display: flex;
    align-self: center;

}

.SEARCH{
    height: 35PX;
    border-radius: 10px;
    background-color: rgba(95, 88, 88, 0.938);
    border: none;
    
  }

  .BotonSearch{
    height: 35PX;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
  }

  .ElementosNav{
      align-items: center;
      display: flex;
      width: 100%;
      justify-content: space-around;
      color: rgb(255, 255, 246);
  }


  /* Imagen con seccion de inicio de sesion*/

  .PrimeraParte{
      
      background-image: url(../img/space.gif);
      background-repeat:round;
      background-size: 100%;

  }

  .contenedorFormulario{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    
  }

  @media (max-width: 742px) {
    .contenedorFormulario {
      justify-content: center;
    }
  }

  .formulario{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        margin: 50px;
        width: 40%;
        height: 600px;
        opacity: 0.9;
        background-color: rgb(188, 184, 189);
        border-radius: 5px;
  }

  @media (max-width:742px){
    .formulario{
        width: 70%;
        height: auto;
    }

  }

  #uname,#pwd{
      height: 60px;
  }

  .grupo, .form{
      display: flex;
      width: 100%;
      padding: 15px 20px 15px 20px;
      justify-content: center;
      

  }
 
/*   Seccion Informativa*/

.division{
    width: 100%;
    height: 60px;
    background-color: rgb(58, 36, 66);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoEmpresa{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.Informacion{
    display: flex;
    justify-content: space-between;
    background: repeating-linear-gradient(45deg, #5c4e4e, #4d4040 3.5px);
    height: auto;

    }

.Noticias{
    display: flex;
    flex-direction: column;
    
    height: 1500px;
    width: 40%;
    overflow:auto;
    background-color: rgb(34, 33, 36);
    opacity: 1;
    color: black;
    
}

.card{
    width: 90%;
    margin: auto;
    padding: 0%;
    margin-top: 20px;
    background-color: rgb(226, 226, 190);
    border: none;
}
.E{
    width: 100%; 


}

.letra{
    color: black;
}

.letra:hover{
    color: black;
    text-decoration: none;
}


/*Este es el footer */

.Footer{
    display: flex;
    background-color: rgb(64, 45, 80);
    height: 200px;
    justify-content: space-around;    
}




.divFooter1{
     display: flex;
     flex-direction: column;  
     margin: auto;
}

