@media (max-width: 600px){
    .ElementosNav{
        display: none;
    }

    

   .PrimeraParte {
    background-size: 100% 100%;
    }

    .Informacion{
        display: flex;
        flex-direction: column;
    }


    .Noticias{
        width: auto;
    }

    .



}