{{> header}}
<div class="sec" id="sec">
    <h2 class="wow animate__animated animate__backInLeft" data-wow-duration="1s">Una manera distinta de viajar</h2>
    <div class="sec-info" data-wow-delay="4s">
        <p class="wow animate__animated animate__backInLeft">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam repellendus sequi expedita consequuntur ex commodi porro magni nesciunt unde incidunt? Similique, recusandae impedit iste velit repellendus harum vitae culpa nam? Amet consectetur
            vitae veritatis magni officia obcaecati quia natus nobis, dicta qui debitis facere tempore voluptate illum dignissimos enim? Aliquam illum <br> <br> architecto vel accusamus qui quae,

            <span>


            
            Maxime aspernatur rerum eum, itaque officiis impedit assumenda maiores autem, ad laboriosam, possimus
            voluptate esse asperiores? Quisquam cumque nihil tenetur. Explicabo illo tempore voluptates sit quasi
            molestias atque! Omnis, itaque?
            Quae necessitatibus similique magni. Quas reprehenderit magnam, qui perferendis maxime est reiciendis
            natus quasi a deleniti omnis officiis, aliquam ut amet. Velit esse quo illo? Esse vel dolorum iusto
            iure.<br> <br>

            </span> Perferendis suscipit, ipsum recusandae atque doloremque excepturi at. Dicta molestias nemo dignissimos. Quos illo sapiente esse eligendi dolor minus optio eos, temporibus error sequi! Voluptatum non fugit ullam
            atque quisquam.</p>


        <div class="cuadro-login wow animate__animated animate__backInRight">
            <h3>LOGIN</h3>
            <form action="/Login/loguearse" method="POST">
                <div class="txt-info">
                    <input type="text" name="NombreUsuario" id="NombreUsuario" required>
                    <span></span>
                    <label>Nombre de Usuario</label>
                </div>
                <div class="txt-info">
                    <input type="password" name="clave" id="clave" required>
                    <span></span>
                    <label>Password</label>
                </div>

                <div class="pass-olvidada">Olvidaste la contrasena?</div>
                <input type="submit" value="LOGIN">
                <div class="registrate">No estas registrado? <a href="/Registro">REGISTRATE ACA</a> </div>
                <h3> {{error}}</h3>
            </form>
        </div>
    </div>

</div>

{{> footer}}