{{> headerSession}}

<DIV style="height: auto;">

   <h1 style="text-align: center; font-weight: bold; color: aliceblue; margin-top: 10px;">Bienvenido {{nombreSession}}</h1>
    

<div style="display: flex;  flex-wrap: wrap;">
   <div class="card" style="width: 25rem; height: auto;margin: 15px; ">
    <img src="/TPFINALPW2/public/img/medico.jpg" class="card-img-top" style="width: 25rem; height: 300px;" alt="...">
    <div class="card-body">
      <p class="card-text">Es necesario que tengas tu checkeo medico al dia. <a href="/TPFINALPW2/Chequeo/show">Click Aqui</a></p>
    </div>
  </div>

  <div class="card" style="width: 25rem; height: auto;margin: 15px;">
    <img src="/TPFINALPW2/public/img/suborbital.jpg" class="card-img-top" style="width: 25rem; height: 300px;" alt="...">
    <div class="card-body">
      <p class="card-text">Si estas comenzando con los viajes especiales, el viaje sub orbital es para vos. <a href="/TPFINALPW2/Suborbital/show">Click aqui</a> </p>
    </div>
  </div>

  <div class="card" style="width: 25rem; height: auto;margin: 15px;">
    <img src="/TPFINALPW2/public/img/orbital.jpg" class="card-img-top" style="width: 25rem; height: 300px;" alt="...">
    <div class="card-body">
      <p class="card-text">Si quieres ir un paso mas hacia el cosmos, no dudes en contratar nuestros viajes orbitales <a href="/TPFINALPW2/Orbital/show">Click aqui</a>.</p>
    </div>
  </div>

  <div class="card" style="width: 25rem; height: auto;margin: 15px;">
    <img src="/TPFINALPW2/public/img/alunizaje.jpg" class="card-img-top" style="width: 25rem; height: 300px;" alt="...">
    <div class="card-body">
      <p class="card-text">Estas interesado en los viajes interplanetarios, no dudes en consultarnos <a href="/TPFINALPW2/Destinos/show">Click Aqui</a></p>
    </div>
  </div>

  <div class="card" style="width: 25rem; height: auto;margin: 15px;">
    <img src="/TPFINALPW2/public/img/pagos.jpg" class="card-img-top" style="width: 25rem; height: 300px;" alt="...">
    <div class="card-body">
      <p class="card-text"> Para ver tus vuelos pendientes de pago o confirmados <a href="/TPFINALPW2/Login/listaDeVuelosPendientesDePago">Click Aqui</a></p>
    </div>
  </div>

  
</div>
  
</DIV>
{{> footer}}