
{{>headerSession}}

<div style="display: flex; justify-content: center;">
<div style=" width: 70%; height: 200px; background-color: aliceblue; border-radius: 20px; margin-top: 20px; display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <h2 style="color: rgb(109, 2, 2); font-weight: bold; text-align: center;"> </h2>
    <a href="#"><button type="button" class="btn btn-secondary btn-lg btn-block" style="width: 100%;">Volver</button></a>
</div>
</div>

{{>footer}}