{{>headerSession}}


{{varSession}} Por favor complete


<div style="display: flex; justify-content: center;">
    <table class="table table-dark" style="width: 90%;">
        <thead>
            <tr>
                <th scope="col">numero</th>
                <th scope="col">Tipo </th>
                <th scope="col">Equipo</th>
                <th scope="col">Fecha de Salida</th>
                <th scope="col">Fecha de Regreso</th>



            </tr>

            {{#suborbitales}}
        </thead>
        <tbody>
            <tr>

                <td><a href="/TPFINALPW2/Suborbital/showForm?idViaje={{idViaje}}&fsal={{fechaSalida}}&freg={{fechaRegreso}}">{{idViaje}}</a></td>
                <td>{{tipoDeViaje}}</td>
                <td>{{equipo}}</td>
                <td>{{fechaSalida}}</td>
                <td>{{fechaRegreso}}</td>



            </tr>
            {{/suborbitales}}

        </tbody>
    </table>


</div>


{{>footer}}